<h1>Hi <%=@traveler.first_name%>!</h1>
<h2>Edit Your Trip:</h2>
<div class="btn-group">

<form action="/trips/<%=@trip.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h4>Name:

  <input type="text" name="trip[name]" id="trip_name" value="<%=@trip.name%>">
  Budget:
    <input type="text" name="trip[budget]" id="trip_budget" value="<%=@trip.budget%>"></h4>

  <h4>Beginning Date:
  <input type="text" name="trip[beg_date]" id="trip_beg_date" value="<%=@trip.beg_date%>">

  Ending Date:
  <input type="text" name="trip[end_date]" id="trip_end_date" value="<%=@trip.end_date%>"></h4>

  <button type="submit">Update Trip</button>
</form>
<a href="/travelers"><button>Go Back to Trips</button></a>
</div>
