<h1>Update Traveler</h1>

<form action="/travelers/<%=@traveler.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <br>
  <input type="text" name="traveler[first_name]" id="traveler_first_name" value="<%=@traveler.first_name%>">
  <input type="text" name="traveler[last_name]" id="traveler_last_name" value="<%=@traveler.last_name%>">
  <br>
  <label>DOB:</label>
  <input type="text" name="traveler[dob]" id="traveler_dob" value="<%=@traveler.dob%>">
  <label>Home Airport:</label>
  <input type="text" name="traveler[home_airport]" id="traveler_home_airport" value="<%=@traveler.home_airport%>">
  <br>
  <label>Address:</label>
  <input type="text" name="traveler[street_address]" id="traveler_street_address" value="<%=@traveler.street_address%>">
  <br>
  <label>City:</label>
  <input type="text" name="traveler[city]" id="traveler_city" value="<%=@traveler.city%>">
  <label>State:</label>
  <input type="text" name="traveler[state]" id="traveler_state" value="<%=@traveler.state%>">
  <label>Zip:</label>
  <input type="text" name="traveler[zip]" id="traveler_zip" value="<%=@traveler.zip%>">
  <br>

  
  <br>


  <br>
  <input type="submit" value="Update Traveler">
</form>
