<h1>Update Traveler</h1>

<div class="btn-group">
<form action="/travelers/<%=@traveler.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h4>Name:

  <input type="text" name="traveler[first_name]" id="traveler_first_name" value="<%=@traveler.first_name%>">
  <input type="text" name="traveler[last_name]" id="traveler_last_name" value="<%=@traveler.last_name%>"></h4>

  <h4>DOB:
  <input type="text" name="traveler[dob]" id="traveler_dob" value="<%=@traveler.dob%>"></h4>
  <h4>Home Airport:
  <input type="text" name="traveler[home_airport]" id="traveler_home_airport" value="<%=@traveler.home_airport%>">

  <h4>Address:
  <input type="textarea" name="traveler[street_address]" id="traveler_street_address" value="<%=@traveler.street_address%>"></h4>

  <h4>City:
  <input type="text" name="traveler[city]" id="traveler_city" value="<%=@traveler.city%>">
  State:
  <input type="text" name="traveler[state]" id="traveler_state" value="<%=@traveler.state%>">
  Zip:
  <input type="text" name="traveler[zip]" id="traveler_zip" value="<%=@traveler.zip%>"></h4>


  <button type="submit">Update Traveler</button>
</form>
<a href="/travelers"><button>Go Back to Traveler Profile</button></a>
</div>
