<h1><%=@traveler.first_name%>'s Info:</h1>

<h4><%=@traveler.first_name%> <%=@traveler.last_name%></h4>
<h4>Dob:<%=@traveler.dob%></h4>
<h4>Home Airport: <%=@traveler.home_airport%></h4>
<h4>Address: <%=@traveler.street_address%></h4>
<h4><%=@traveler.city%>, <%=@traveler.state%> <%=@traveler.zip%></h4>


  <%if @traveler.trips.count > 0 %>

      <table>
       <tr>
          <th>Name: </th>
          <th colspan="4"></th>
       </tr>
       <%@traveler.trips.each do |trip|%>
       <form action="/trips/<%=trip.id%>/edit" method="GET">
        <tr>
          <td><%=trip.name%></td>
           <input id="trip_id" type="hidden" name="trip[id]" value=<%=trip.id%>>
           <td colspan="2"><input type="submit" value="Update"></td>
           </form>
           <form action="/trips/<%=trip.id%>" method="POST">
             <input id="hidden" type="hidden" name="_method" value="delete">
             <td colspan="2"><input type="submit" value="Delete"></td>
           </form>
        </tr>
        <%end%>
     <%end%>

        <form action="/trips/new" method="POST">
        <tr>
           <td><input type="text" name="trip[name]" id="trip_name"></td>
           <td colspan="4"><input type="submit" value="Add a Trip"></td>
        </tr>
        </form>
      </<table>




<form action='/trips/new' method="post">
 <button type="submit">Add a Trip</button>
</form>

<form action='/travelers/<%=@traveler.id%>/edit' method="post">
 <button type="submit">Update Info</button>
</form>

<form action="/travelers/<%=@traveler.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>
<p></p>
<h3>Your Trips:</h3>
