<h1><%=@traveler.first_name%>'s Info:</h1>

<h4><%=@traveler.first_name%> <%=@traveler.last_name%></h4>
<h4>Dob:<%=@traveler.dob%></h4>
<h4>Home Airport: <%=@traveler.home_airport%></h4>
<h4>Address: <%=@traveler.street_address%></h4>
<h4><%=@traveler.city%>, <%=@traveler.state%> <%=@traveler.zip%></h4>

<h2>Trips:</h2>
<ul>
  <%if @traveler.trips.count > 0 %>
      <%@traveler.trips.each do |trip|%>
      <form action='/trips/<%=trip.id%>/edit' method="post">
        <li><%=trip.name%> </li>
        <button type="submit">Edit Trip</button></form>
      <%end%>
   <%end%>
</ul>

<form action='/trips/new' method="post">
 <button type="submit">Add Trip</button>
</form>

<form action='/travelers/<%=@traveler.id%>/edit' method="post">
 <button type="submit">Update Info</button>
</form>

<form action="/travelers/<%=@traveler.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>
